 <div class="container-fluid">

<section >
  <h2>FUNCIONALIDADE</h2>
  <h4>Nosso sistema busca criar Usuarios fictícios ao consultar uma API com o intuito de ser usado para 
    otimizar testes , principalemente backend,  e prototipações em diversos cenários, os quais comumente se utilizam taticas de CRUD, por exemplo   
    <ul>
        <li>Apresentação - Feita para te trazer de volta a essa tela</li>
        <li>Gerador- Aqui, será possível criar e captar dados dos cliente/ usuarios, ao clicar no botão "Gerar Usuário" </li>

    </ul>    
  </h4>
</section>
</div>

