<div class="container-fluid">

<section >
  <h2>QUAL NOSSO PROPÓSITO?</h2>
  <h4>Nosso objetivo com o sistema "Estok's ", é de padronizar e organizar seus 
    produtos disponíveis, informando ao público consumidor /administradores os benefícios de tê-los presentes 
    no cotidiano
  </h4>
</section>

<section >
  <h2>FUNCIONALIDADES</h2>
  <h4>Nosso sistema busca ser o mais intuitivo e direto possível.
    Nesse sentido, criamos 3 abas que guiaram você por ele:
    <ul>
        <li>HOME - Feita para te trazer de volta a essa tela</li>
        <li>LISTA- Aqui, será possível visualizar a lista de produtos pré-cadastrados</li>
        <li>DETALHES- Serão encontrados detalhes acerca dos produtos  </li>
    </ul>    
  </h4>
</section>
</div>

