

div{
 margin-top:10px;
 max-width :70%;
 min-height:500px;

 border:10px groove black;
 border-radius: 20px;
 background-color: rgb(17, 20, 178);
}

section{
  background-color: white;
  max-width:90%;
  
  border: 10px inset black;
  border-radius: 20px;
  
  overflow-wrap: break-word;

  margin-top: 40px;
}

section h2{
    text-align:center;
    font-weight: 800;
    font-size: clamp(13px, 2.5vw,30px);
}

section h4{
    text-align: justify;
    font-size: clamp(15px, 1.5vw, 20px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:2%;
    padding-right:2%
}