.card{

border:none;

border-radius:15px;

}

.card-header{

background:white;

}

.form-control,
.form-select{

height:45px;

}

textarea{

height:auto !important;

resize:none;

}

label{

font-weight:600;

margin-bottom:6px;

}

button{

min-width:120px;

}