.loading-container{

display:flex;

flex-direction:column;

align-items:center;

padding:50px;

}

.spinner{

width:60px;
height:60px;

border:6px solid #ddd;

border-top:6px solid #0066ff;

border-radius:50%;

animation:girar 1s linear infinite;

}

@keyframes girar{

0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}

}