<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand " id="Logo">ESTOK'S</a>
   
    <ul class="navbar-nav ">  

      <li class="nav-item">
          <a class="btn btn-outline-light  text-nowrap px-4 py-2"
          routerLink="/home"
          [class.disabled]="isRotaAtiva('/home')">
          <i class="bi bi-house-door-fill me-2">  Home</i></a>
        </li>

        <li class="nav-item ">
          <a class="btn btn-outline-light text-nowrap px-4 py-2"
          [routerLink]="['/produtos']"
          routerLinkActive="active"
          [class.disabled]="isRotaAtiva('/produtos')"
     >
          <i class="bi bi-house-door-fill me-2">  Lista</i></a>
        </li>

        <li class="nav-item">
          <a class="btn btn-outline-light  text-nowrap px-4 py-2"
           [routerLink]="['/produtos/0']"
          routerLinkActive="active"
          [class.disabled]="isRotaAtiva('/produtos/0')"
           >
          <i class="bi bi-house-door-fill me-2">  Detalhes</i></a>
        </li>

      </ul>
     </div>

</nav>
